<main>
    <div class="container">
        <div class="home-img">
            <img src="/assets/images/happy-father-giving-his-small-daughter-potted-flower-while-she-s-helping-him-garden-center.jpg"
                alt="happy-father-giving-his-small-daughter-potted-flower-while-she-s-helping-him-garden-center">
            <a routerLink="/catalog">Let me show you our products!</a>
        </div>
        <section *ngIf="bestSellersArr.length > 0">
            <h2>Best sellers</h2>
            <div class="best-sellers-container">
                <ng-container *ngFor="let product of bestSellersArr">
                    <article class="product-card">
                        <div class="product-image" [routerLink]="['/catalog', product._id]">
                            <img src="assets/images/{{product.imgName}}" alt="{{product.title}}">
                        </div>
                        <div class="product-wrapper">
                            <h3 [routerLink]="['/catalog', product._id]">{{product.title}}</h3>
                            <div>
                                <p class="price">{{product.price}} <span>lv</span> </p>
                                <button (click)="addProductToCart(product)">ADD TO CART</button>
                            </div>
                        </div>
                    </article>
                </ng-container>
            </div>
        </section>
    </div>
</main>