<main>
    <div class="container">
        <div class="home-img">
            <img src="/assets/images/happy-father-giving-his-small-daughter-potted-flower-while-she-s-helping-him-garden-center.jpg"
                alt="happy-father-giving-his-small-daughter-potted-flower-while-she-s-helping-him-garden-center">
            <a href="https://www.bhg.com/gardening/yard/garden-care/ten-steps-to-beginning-a-garden/"
                target="_blank">Are you new in
                gardening?</a>
        </div>
        <section>
            <h2>Best sellers</h2>
            <div class="best-sellers-container">
                <article class="product-card">
                    <div class="product-image">
                        <img src="/assets/images/close-up-viola-tricolor-flowers-flower-bed_169016-20488.jpg"
                            alt="Purple violets">
                    </div>
                    <div class="product-wrapper">
                        <h3>Purple violets</h3>
                        <div>
                            <p class="price">3 <span>lv</span> </p>
                            <form action="">
                                <button type="submit">ADD TO CART</button>
                            </form>
                        </div>
                    </div>
                </article>
                <article class="product-card">
                    <div class="product-image">
                        <img src="/assets/images/pink-red-white-violet-flowers-garden.jpg" alt="Pink violets">
                    </div>
                    <div class="product-wrapper">
                        <h3>Pink violets</h3>
                        <div>
                            <p class="price">3 <span>lv</span> </p>
                            <form action="">
                                <button type="submit">ADD TO CART</button>
                            </form>
                        </div>
                    </div>
                </article>
                <article class="product-card">
                    <div class="product-image">
                        <img src="/assets/images/assortment-beautiful-flowers-background.jpg" alt="Pink roses">
                    </div>
                    <div class="product-wrapper">
                        <h3>Pink roses</h3>
                        <div>
                            <p class="price">9 <span>lv</span> </p>
                            <form action="">
                                <button type="submit">ADD TO CART</button>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</main>