/* Image section */
.home-img {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    background: rgb(0,166,118);
    background: linear-gradient(233deg, rgba(0,166,118,1) 0%, rgba(224,208,193,1) 80%);
    line-height: 0;
}

.home-img img {
    width: 100%;
    height: auto;
}

.home-img a {
    position: absolute;
    z-index: 3;
    bottom: 10%;
    left: 30%;
    right: 30%;
    padding: 0.5em 1em;
    line-height: 1.5;

    text-decoration: none;
    text-align: center;
    font-size: 32px;
    color: #F7F9F9;
    border: 1px solid #F7F9F9;
    border-radius: 1em;
}

/* Best seller section */
main div.container section {
    padding: 1em 2em 2em 1em;
}

.best-sellers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
