.product-details-container {
    margin: 2em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1em;
    min-height: 44em;
}

/* Image section */
.product-image {
    flex: 1 0 50%;
    aspect-ratio: 16/9;
    overflow: hidden;
}

/* Details section */
.details-wrapper {
    flex: 1 0 50%;
    padding: 1em 0;
    background-color: #E0D0C1;
}

.details-wrapper div {
    padding: 0.5em 1em;
}

#product-info {
    display: flex;
    flex-direction: column;
}

#product-info div {
    display: flex;
    justify-content: space-between;
}

#product-info form {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

#product-info form button {
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: #E0D0C1;
    background: #D81159;
    border-radius: 1em;
    padding: 0.5em 1.5em;
    border: none;
}

.price {
    color: #D81159;
    line-height: normal;
    font-size: 4rem;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.price span {
    margin-left: 0.5em;
}

#product-details,
#product-delivery {
    color: #601700;
}

.header-details {
    border-top: 1px solid #601700;
    border-bottom: 1px solid #601700;
}

.hidden-paragraph {
    display: none;
}


#product-details:hover .hidden-paragraph,
#product-delivery:hover .hidden-paragraph {
    display: block;
}

.hideParagraph{
    max-height: 0.5em;
    overflow: hidden;
    color: rgba(0, 0, 0, 0);
}