<main>
    <div class="container">
        <section id="sign-in-section">
            <h2>Sign in</h2>
            <form id="sign-in-form" action="">
                <label for="">Email<span class="a-must-sign">*</span>:</label>
                <input type="email">
                <label for="">First name:</label>
                <input type="text">
                <label for="">Last name:</label>
                <input type="text">
                <label for="">Password<span class="a-must-sign">*</span>:</label>
                <input type="password">
                <label for="">Repeat password<span class="a-must-sign">*</span>:</label>
                <input type="password">
                <label for="">Address:</label>
                <input type="text">
                <p><span class="a-must-sign">*</span> this field is a must</p>
                <button type="submit">SIGN IN</button>
            </form>
            <div class="link-paraghaph">
                <p>You already have profile?</p>
                <a routerLink="/login">Log in here!</a>
            </div>
        </section>
    </div>
</main>