footer {
    background-color: #00A676;
}

footer div.container{
    padding: 1em 2em;
    flex-direction: row;
    justify-content: space-between;
    color: #F7F9F9;
}

#social-media-links {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

#social-media-links svg{
    fill: #601700;
    aspect-ratio: 1;
    font-size: 36px;
}