
<main>
    <div class="container">
        <section id="my-profile-section">
            <h2>My profile</h2>
            <article>
                <p class="label">Email:</p>
                <p class="info">reneta.boneva@abv.bg</p>

                <p class="label">First name:</p>
                <p class="info">Reneta</p>

                <p class="label">Last name:</p>
                <p class="info">Boneva</p>

                <p class="label">Address:</p>
                <p class="info">Burgas, Bulgaria</p>
            </article>
        </section>
        <section class="my-orders-section">
            <h2>My orders</h2>
            <div id="orders-wrapper">
                <!-- In case there are no orders, we must display this paragraph -->
                <!-- <p class="no-yet">There are no orders yet!</p> -->
                <article class="order">
                    <header class="order-header">
                        <div>
                            <p class="label">Order number:</p>
                            <p class="info">1010337836</p>
                        </div>
                        <div>
                            <p class="label">Date:</p>
                            <p class="info">30/06/23</p>
                        </div>
                    </header>

                    <div class="order-body">

                        <p class="label">Products:</p>
                        <p class="label num">Count:</p>
                        <p class="label num">Sum:</p>

                        <p class="info">Pink roses</p>
                        <p class="info num">1</p>
                        <p class="info num">9</p>


                        <p class="info">White roses</p>
                        <p class="info num">1</p>
                        <p class="info num">8</p>


                        <p class="info">Purple violets</p>
                        <p class="info num">5</p>
                        <p class="info num">15</p>

                    </div>

                    <div class="order-footer">
                        <p class="total">
                            <span class="total-span">TOTAL:</span>
                            32
                            <span class="currency">lv</span>
                        </p>
                    </div>
                </article>
                <article class="order">
                    <header class="order-header">
                        <div>
                            <p class="label">Order number:</p>
                            <p class="info">1010337836</p>
                        </div>
                        <div>
                            <p class="label">Date:</p>
                            <p class="info">30/06/23</p>
                        </div>
                    </header>

                    <div class="order-body">

                        <p class="label">Products:</p>
                        <p class="label num">Count:</p>
                        <p class="label num">Sum:</p>

                        <p class="info">Pink roses</p>
                        <p class="info num">1</p>
                        <p class="info num">9</p>


                        <p class="info">White roses</p>
                        <p class="info num">1</p>
                        <p class="info num">8</p>


                        <p class="info">Purple violets</p>
                        <p class="info num">5</p>
                        <p class="info num">15</p>

                    </div>

                    <div class="order-footer">
                        <p class="total">
                            <span class="total-span">TOTAL:</span>
                            32
                            <span class="currency">lv</span>
                        </p>
                    </div>
                </article>
            </div>
        </section>
    </div>
</main>