
<main>
    <div class="container">

        <section id="log-in-section">
            <h2>Log in</h2>
            <form id="log-in-form" action="">
                <label for="">Email:</label>
                <input type="email">
                <label for="">Password:</label>
                <input type="password">
                <button type="submit">LOG IN</button>
            </form>
            <div class="link-paraghaph">
                <p>You still don’t have profile? </p>
                <a routerLink="/register">Sign in here!</a>
            </div>
        </section>

    </div>
</main>