nav#main-nav {
    background-color: #E0D0C1;
    padding: 1em;
}

#main-nav div.container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#main-nav .brand a {
    font-family: Pacifico, serif;
    color: #601700;
    text-shadow: -3px 3px #A76D60;
}

.regular-link {
    color: #601700;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}


#cart-link {
    font: 20px/0 Josefin Sans, sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    color: #E0D0C1;
    background: #D81159;
    border-radius: 1em;
    padding: 0.8em 1em 0.5em 1em;
}

#cart-link svg {
    fill: #E0D0C1;
}

#cart-link:hover {
    text-decoration: none;
    background: #00A676;
    text-decoration: none;
    color: #601700;
}

#cart-link:hover svg {
    fill: #601700;
}

@media (min-width:850px) {
    .desktop-version {
        display: block;
    }

    .mobile-version {
        display: none;
    }

    #main-nav div.container {
        padding: 0 2em;
    }

    #main-nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    #main-nav .brand a {
        font-size: 44px;
    }

    .regular-link:hover {
        text-decoration: underline;
        color: rgba(96, 23, 0, 0.5);
    }
}

@media (max-width:850px) {
    #main-nav div.container {
        padding: 0;
    }

    .mobile-version {
        display: flex;
        gap: 1em;
        align-items: center;
    }

    .desktop-version {
        display: none;
    }

    #main-nav .brand a {
        font-size: 28px;
    }

    #nav-link {
        display: none;
        flex-direction: column;
        position: absolute;
    }

    .mobile-nav-wrapper:hover #nav-link {
        display: flex;
    }
    
    .mobile-nav-wrapper:hover #nav-link {
        display: flex;
        cursor: pointer;
        width: 100%;
        left: 0;
        z-index: 10;
        margin-top: 1em;
        text-align: center;
        background: #E0D0C1;
    }

    .mobile-nav-wrapper #nav-link li:hover {
        background-color: #601700;
    }

    .mobile-nav-wrapper #nav-link li:hover .regular-link {
        color: #E0D0C1;
    }

    #cart-link {
        padding: 0.5em 1em;
    }

    #cart-text-btn {
        display: none;
    }
}